%h2 Front Page
.wrapper
	.row-fluid
		.span6
			.left
				= image_tag "huff.jpeg", size: '50x50'
				= link_to @article.huff_title, @article.huff_link
				%br  
				= image_tag "times.jpeg", size: '50x50'
				= link_to @article.nytimes_title, @article.nytimes_link
		.span6
			.right
				= image_tag "fox.jpg", size: '50x50'
				= link_to @article.fox_title, @article.fox_link